<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qlnhanvien"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.qlnhanvien.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       <activity 
           android:name="com.example.qlnhanvien.PhongBanActivity"
           android:label="Phòng Ban"
           android:uiOptions="splitActionBarWhenNarrow"
           >
           
       </activity>
       
       <activity 
           android:name="com.example.qlnhanvien.NhanVienPhongBanActivity"
           android:label="Danh sách nhân viên"
           >
           
       </activity>
       
       <activity 
           android:name="com.example.qlnhanvien.NhanVienActivity"
           android:label="Danh sách nhân viên"
           >
           
       </activity>
       
       <activity 
           android:name="com.example.qlnhanvien.ThemNhanVienActivity"
           android:label="Thêm nhân viên"
           android:parentActivityName="com.example.qlnhanvien.NhanVienActivity"
           >
           
           
       </activity>
       
       <activity 
           android:name="com.example.qlnhanvien.CapNhatNhanVien"
           android:label="Cập nhật nhân viên"
           >
           
       </activity>
       
     	<activity 
     	    android:name="com.example.qlnhanvien.ChiTietNhanVienActivity"
     	    android:label="Chi tiết nhân viên"
     	    >
     	    
     	</activity>
     	
     	<activity 
     	    android:name="com.example.qlnhanvien.ThietLapMatKhau"
     	    android:label="Hệ thống"
     	    >
     	    
     	</activity>
    </application>

</manifest>
